<br><br>
<div class="container" style="width:60%">
<form [formGroup]="meuForm" (submit)="onSubmit()">

  <div class="form-group">
    <label for="exampleInputPassword1">Usuario <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPesquisaUser">Selecionar Usuário</button></label>
    <input  readonly="readonly" type="text" class="form-control" formControlName="usuario" value="{{user}}" placeholder="{{user}}">


  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">Vacina <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPesquisaVacina">Selecionar Vacina</button></label>
    <input readonly="readonly" type="text"   class="form-control" formControlName="vacina" placeholder="{{vacina}}" value="{{vacina}}">

  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Data Aplicação</label>
    <input type="text" class="form-control" formControlName="dataAplic" placeholder="Digite a data de aplicação">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Numero dose</label>
    <input type="text" class="form-control" formControlName="numDose" placeholder="Digite o seu numero de doses">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Data proxima aplicação</label>
    <input type="text" class="form-control" formControlName="proxDataDose" placeholder="Digite a data da proxima aplicacao">
  </div>


  <div align="center">
<button type="submit"class="btn btn-primary">Submit</button>
  </div>

</form>
</div>

















































<div class="modal fade" id="modalPesquisaUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa de usuário</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nameBusca" class="col-form-label">Informe o CPF:</label>
            <input #cpf type="text" class="form-control" id="cpf">
          </div>
          <br>
          <button type="button" class="btn btn-success" (click)="pesquisaUser(cpf.value)">Buscar</button>

        </form>

        <table class="table" id="tabelaResultados">
          <tr>
            <th> ID  </th>
            <th> Nome </th>
            <th> CPF </th>
            <th> Data de Nascimento </th>

            <th>  </th>
        </tr>
        <tr *ngFor="let p of usuarios">
            <td> {{ p?.id }} </td>
            <td> {{ p?.nome }} </td>
            <td> {{ p?.cpf }} </td>
            <td> {{ p?.dataNascimento }} </td>
          <td><button type="button" class="btn btn-secondary" (click)="addUser( p?.nome, p?.cpf )"data-bs-dismiss="modal">Selecionar</button></td>
            </tr>

</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Fechar</button>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="modalPesquisaVacina" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pesquisa de usuário</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nameBusca" class="col-form-label">Informe o nome:</label>
            <input #nome type="text" class="form-control" id="nome">
          </div>
          <br>
          <button type="button" class="btn btn-success" (click)="pesquisaVacina(nome.value)">Buscar</button>

        </form>

        <table class="table" id="tabelaResultados">
          <tr>
            <th> ID  </th>
            <th> Nome </th>
            <th> Fabricante </th>


            <th>  </th>
        </tr>
        <tr *ngFor="let p of vacinas">
            <td> {{ p?.id }} </td>
            <td> {{ p?.nome }} </td>
            <td> {{ p?.fabricante }} </td>
          <td><button type="button" class="btn btn-secondary" (click)="addVacina( p?.nome )" data-bs-dismiss="modal">Selecionar</button></td>
            </tr>

</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Fechar</button>

      </div>

    </div>
  </div>
</div>
