<div class="container">
  <h2>Adicionar Vacinas</h2>
  <form>
      <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" placeholder="Informe o nome" >
      </div>
      <div class="form-group">
          <label for="fabricante">Fabricante</label>
          <input type="fabricante" class="form-control" placeholder="Informe o fabricante">
      </div>
      <div class="form-group">
        <label for=" qtdDeDoses">Quantidade De Doses </label>
        <input type="qtdDeDoses" class="form-control" placeholder="Informe a quantidade de doses">
    </div>
    <div class="form-group">
      <label for="intervaloDoses">Intervalo Das Doses</label>
      <input type="intervaloDoses" class="form-control" placeholder="Informe o intervalo das doses">
  </div>
     <a routerLink="/usuarios"><button type="submit" class="btn btn-success">Salvar</button></a>
       <a class="btn btn-secondary" routerLink="/usuarios">Voltar </a>
  </form>
  </div>

